version: 2.1

orbs:
    node: circleci/node@7
    snyk: snyk/snyk@2.3.0

parameters:
  react-path:
    type: string
    default: "/home/circleci/project/react/react"


jobs:
  react-tests:
    docker:
      - image: cimg/node:18.20  # or keep 17.3.1 if required
    resource_class: small
    parallelism: 3
    working_directory: <<pipeline.parameters.react-path>>
    environment:
      CI: "true"
      JEST_JUNIT_OUTPUT_DIR: junit
      JEST_JUNIT_OUTPUT_NAME: junit-$CIRCLE_NODE_INDEX.xml
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
          app-dir: <<pipeline.parameters.react-path>>
      - run: mkdir -p junit
      - run:
          name: Test application with automatic test splitting
          command: |
            set -eo pipefail
            TEST_FILES=$(circleci tests glob "src/**/__tests__/*.js" | circleci tests split --split-by=timings)
            yarn test --ci --runTestsByPath --passWithNoTests $TEST_FILES
      - store_test_results:
          path: junit
          when: always
      - store_artifacts:
          path: junit
          when: always
workflows:
    react:
      jobs:
        - react-tests
