version: 2.1

orbs:
    node: circleci/node@5.0.0
    snyk: snyk/snyk@2.3.0

parameters:
  react-path:
    type: string
    default: "/home/circleci/project/react/"


jobs:
  react-tests:
    docker:
      - image: cimg/node:24.11.0
    resource_class: small
    parallelism: 45
    working_directory: /home/circleci/project
    environment:
      CI: "true"
      JEST_JUNIT_OUTPUT_DIR: junit
      JEST_JUNIT_OUTPUT_NAME: junit-$CIRCLE_NODE_INDEX.xml
    steps:
      - checkout
      - run:
          name: Enable Corepack for Yarn 4
          command: corepack enable
      - restore_cache:
          keys:
            - v1-yarn4-deps-{{ checksum "react/.yarnrc.yml" }}-{{ checksum "react/yarn.lock" }}
            - v1-yarn4-deps-
      - run:
          name: Install dependencies with Yarn 4
          command: cd react && yarn install --immutable
      - save_cache:
          key: v1-yarn4-deps-{{ checksum "react/.yarnrc.yml" }}-{{ checksum "react/yarn.lock" }}
          paths:
            - react/node_modules
      - run:
          name: Test application with automatic test splitting
          command: |
            cd react
            mkdir -p junit
            TEST_FILES=$(circleci tests glob "src/__tests__/*.js" | circleci tests split --split-by=timings)
            yarn test --ci --runTestsByPath --passWithNoTests $TEST_FILES
      - store_test_results:
          path: react/junit
      - store_artifacts:
          path: react/junit
workflows:
    react:
      jobs:
        - react-tests
