version: 2.1

executors:
  docker-node:
    docker:
      - image: cimg/node:24.11.0
    resource_class: small
    working_directory: /home/circleci/project
    environment:
      CI: "true"
      JEST_JUNIT_OUTPUT_DIR: junit
      JEST_JUNIT_OUTPUT_NAME: junit-$CIRCLE_NODE_INDEX.xml

commands:
  prep-executor:
    steps:
      - checkout
      - run:
          name: Enable Corepack for Yarn 4
          command: corepack enable
      - restore_cache:
          keys:
            - v1-yarn4-deps-{{ checksum "react/.yarnrc.yml" }}-{{ checksum "react/yarn.lock" }}
            - v1-yarn4-deps-
      - run:
          name: Install dependencies with Yarn 4
          command: cd react && yarn install --immutable
      - save_cache:
          key: v1-yarn4-deps-{{ checksum "react/.yarnrc.yml" }}-{{ checksum "react/yarn.lock" }}
          paths:
            - react/node_modules
            
  serial-run:
    steps:
      - run:
          name: Test application serially
          command: yarn test --ci
    
  parallel-run:
    steps:
      - run:
          name: Test application with automatic test splitting
          command: |
            cd react
            mkdir -p junit
            TEST_FILES=$(circleci tests glob "src/__tests__/*.js" | circleci tests split --split-by=timings)
            yarn test --ci --runTestsByPath --passWithNoTests $TEST_FILES
    

orbs:
    node: circleci/node@5.0.0
    snyk: snyk/snyk@2.3.0

parameters:
  react-path:
    type: string
    default: "/home/circleci/project/react/"


jobs:
  serial-run:
    executor: docker-node
    parallelism: <<parameters.parallelism>>
    parameters:
      parallelism:
        type: integer
    steps:
      - prep-executor
      - serial-run
      - store_test_results:
          path: react/junit
      - store_artifacts:
          path: react/junit
          
  parallel-run:
    executor: docker-node
    parameters:
      parallelism:
        type: integer
    steps:
      - prep-executor
      - parallel-run
      - store_test_results:
          path: react/junit
      - store_artifacts:
          path: react/junit

          
workflows:
    react:
      jobs:
        - parallel-run:
             name: "react-parallelism-45-containers"
             parallelism: 45
        - serial-run:
             name: "react-no-parallelism-1-container"
             parallelism: 1
